<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/register" method="POST">
            <h1>Registration</h1>
            <label for="name">Name:</label><br>
            <input type="text" name="name" required><br>

            <label for="email">Email:</label><br>
            <input type="email" name="email" required><br>

            <label for="password">Password:</label><br>
            <input type="password" name="password" required><br>
            
            <button>Register</button>

            <a class="rdct" href="{{url_for('login')}}">Already Registered?  login</a>
        </form>
    </div>
</body>
</html>